@page "/preview"
@using TextileEditor.Web.Components
@using TextileEditor.Web.Resources


<FluentStack Style="height: 100%" Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Left" VerticalAlignment="VerticalAlignment.Top">
    <FluentStack>
        <FluentSpacer />
        <FluentButton id="myPopoverButtonr" IconStart="@(new Icons.Regular.Size20.Settings())" Appearance="Appearance.Accent" @onclick="() => _visible = !_visible" />
    </FluentStack>
    @if (Session is not null)
    {
        <TextileEditor.Web.Components.TextilePreview Session="Session" />
    }
    else
    {
        <FluentStack Style="height: 100%" HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Center" @onclick="StateHasChanged">
            @Localizer.GetString(SharedResource.NotSelectedTextile)
        </FluentStack>
    }
</FluentStack>

<FluentPopover Style="width: 300px;" AnchorId="myPopoverButtonr" @bind-Open="_visible">
    <Header>
        <FluentStack>
            Preview Configuration
            <FluentSpacer />
            <FluentButton IconStart="@(new Icons.Regular.Size20.Save())" />
        </FluentStack>
    </Header>
    <Body>
        <Slider />
    </Body>
</FluentPopover>

@code {
    bool _visible;
}
