/* 全体のコンテナ */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 全画面の高さ */

    --sidebar-open-width: 250px; /* サイドメニューの幅 */
    --sidebar-close-width: calc(0px - var(--sidebar-open-width));
    --header-height: 40px;
    --footer-height: 30px;
}

/* ヘッダー部分 */
.header {
    display: flex;
    align-items: center;
    padding: 0px;
    flex: 0 0 var(--header-height); /* 固定高さのヘッダー */
    height: var(--header-height);
    background-color: var(--neutral-fill-stealth-rest); /* Fluent UI の背景色 */
}

/* フッター部分 */
.footer {
    display: flex;
    align-items: center;
    padding: 0px;
    flex: 0 0 var(--footer-height); /* 固定高さのフッター */
    height: var(--footer-height);
    background-color: var(--neutral-layer-4); /* Fluent UI の背景色 */
}

.menubar {
    padding: 5px;
    display: flex;
    align-items: center;
}

/* ボディ部分をフレックスコンテナに */
.main-body {
    overflow: auto;
    display: flex;
    flex: 1; /* 残りの高さを占める */
    position: relative; /* 相対位置指定 */
}

/* サイドメニュー */
.side-menu {
    z-index:1;
    flex: 0 0 var(--sidebar-open-width); /* 固定幅のサイドメニュー */
    background-color: var(--neutral-layer-2); /* Fluent UI の背景色 */
    transition: transform 0.3s ease; /* 開閉のアニメーション */
    transform: translateX(0); /* 初期状態で表示 */
}

    /* サイドメニューが隠れた状態 */
    .side-menu.closed {
        transform: translateX(var(--sidebar-close-width)); /* 左に移動して隠す */
    }

    .side-menu.open {
        box-shadow: 10px 0 15px rgba(0, 0, 0, 0.3);
    }

/* コンテンツ部分 */
.content {
    overflow: auto;
    flex: 1; /* 残りの幅を占める */
    background-color: var(--neutral-layer-1); /* Fluent UI の背景色 */
    padding: 20px;
    margin-left: 0; /* 初期値 */
    transition: margin-left 0.3s ease; /* 開閉のアニメーション */
}

    /* コンテンツが閉じた状態 */
    .content.closed {
        margin-left: var(--sidebar-close-width); /* サイドメニューが閉じたときのマージン */
    }

.separator {
    height: 1px;
    background-color: var(--accent-fill-rest);
}