@namespace TextileEditor.Web.Layout
@inherits LayoutComponentBase

<div class="container">
    <div class="header">
        <FluentStack VerticalAlignment="VerticalAlignment.Center">
            <FluentSpacer Width="5" />
            <div @onpointerover="OnPointerOver" @onpointerout="OnPointerOut">
                <FluentButton OnClick="ToggleMenu" IconStart="ToggleMenuIcon" />
            </div>
            <FluentDivider />
            <File TextileSessionManager="this" />
            <View />
            <Options />
            <FluentSpacer />
            <NotificationCenter />
            <FluentSpacer Width="5" />
        </FluentStack>
    </div>
    <div class="separator"></div>
    <div class="main-body">
        <div class="side-menu @(IsMenuOpen)">
            <TextileExplorer SessionManager="this" />
        </div>
        <div class="content @(IsMenuOpen)">
            <CascadingValue Value="TextileContextManager" Name="@CascadingParameterNames.TextileContextManager">
                @Body
            </CascadingValue>
        </div>
    </div>
    <div class="footer">
        <FluentStack VerticalAlignment="VerticalAlignment.Center">
            <FluentSpacer Width="5" />
            <Working />
            <FluentSpacer/>
            <FluentLabel>Branch: Unlocalization Version: 0.0.2</FluentLabel>
            <FluentSpacer Width="5" />
        </FluentStack>
    </div>
</div>
<FluentMenuProvider />
<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />


@code {
    private bool isMenuOpen = true;
    private string IsMenuOpen => isMenuOpen ? "open" : "closed";
    private void ToggleMenu() => isMenuOpen = !isMenuOpen;

    private Icon ToggleMenuIcon => !IsOver ? new Icons.Regular.Size24.PanelLeft() : (isMenuOpen ? new Icons.Regular.Size24.PanelLeftContract() : new Icons.Regular.Size24.PanelLeftExpand());
    private bool IsOver = false;
    private void OnPointerOver(PointerEventArgs eventArgs) => IsOver = true;
    private void OnPointerOut(PointerEventArgs eventArgs) => IsOver = false;
}
