@namespace TextileEditor.Web.Layout

<div id="container">
    <FluentStack>
        <FluentIcon Value="@(new Icons.Regular.Size24.List())" />
        <FluentLabel Typo="Typography.H6">@Localizer[SharedResource.TextileExplorer]</FluentLabel>
    </FluentStack>
    <div class="list">
        @for (var i = 0; i < Storage.Sessions.Count; i++)
        {
            <FluentDivider />
            <TextileSessionView Session="Storage.Sessions[i]" SessionManager="SessionManager" />
            @if (i == (Storage.Sessions.Count - 1))
            {
                <FluentDivider />
            }
        }
    </div>
</div>