.progress-container {
    background-color: var(--neutral-layer-card-container);
    padding: var(--base-height-multiplier)px;
    border-radius: var(--layer-corner-radius)px;
    box-shadow: var(--elevation-shadow-card-rest);
    color: var(--neutral-foreground-rest);
}

.progress-header {
    margin-bottom: var(--base-height-multiplier)px;
}

    .progress-header h3 {
        font-size: var(--type-ramp-plus-1-font-size);
        line-height: var(--type-ramp-plus-1-line-height);
        font-weight: var(--font-weight);
    }

    .progress-header p {
        font-size: var(--type-ramp-base-font-size);
        line-height: var(--type-ramp-base-line-height);
        color: var(--neutral-foreground-hint);
    }
