@namespace TextileEditor.Web.Layout

<div class="progress-container">
    <div class="progress-header">
        <h3>@Name</h3>
        <p>@Description</p>
    </div>
    <FluentProgress Min="0" Max="ProgressValue.Max" Value="@(ProgressValue.Step > 0 ? ProgressValue.Step : null)" />
</div>